---
import Layout from "../layouts/Layout.astro";
import SideBar from "../components/Sidebar";
import RightBar from "../components/RightBar";
import Container from "../components/Container";
---

<Layout title="Welcome to Astro.">
<div class="flex justify-between">
  <SideBar />
  <Container />
  <RightBar /> 
</div>

</Layout>
