---
import Layout from "../layouts/Layout.astro";
import SidePill from "../components/sidePill/SidePill";
import "../styles/base.css"
---

<Layout title="Pie Tunes">
<div class="flex justify-between bg-[url('/src/components/assets/background.png')] ">
  <SidePill />

</div>

</Layout>
